body {
    font-family: 'Roboto', sans-serif;
    background-color: #343a40;
    color: #e9ecef;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    height: 100vh; /* Make sure body takes full viewport height */
    display: flex; /* Use flexbox on body */
    flex-direction: column; /* Align children vertically */
}

/* Main Container */
.main-container {
    flex: 1; /* Allow main container to grow */
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

/* Navigation Bar */
a{
    text-decoration: none;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    padding: 0 50px;
    height: 80px;
  }
  
  nav .left a {
    color: var(--text-color);
    font-size: 22px;
    font-weight: 600;
  }
  
  nav .right a {
    color: var(--text-color);
    margin: 0 10px;
  }
  
  nav .right a:last-child {
    color: var(--background-color);
    background-color: var(--text-color);
    padding: 5px 15px;
    border-radius: 5px;
  }
  
  nav .right a span {
    margin-left: 5px;
  }
  
/* Converter Container */
.converter-container {
    background-color: #495057;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    padding: 30px;
    max-width: 500px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

/* Heading Styles */
h1 {
    margin-bottom: 25px;
    color: #f8f9fa;
    font-size: 28px;
    font-weight: 600;
}

img {
    margin: 0;
    height: 10vh;
}

/* Form Styles */
.converter-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Label Styles */
label {
    text-align: left;
    font-weight: 500;
    color: #ced4da;
}

/* Input and Select Styles */
input[type="number"],
select {
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #6c757d;
    background-color: #495057;
    color: #e9ecef;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

input[type="number"]:focus,
select:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 3px rgba(38, 143, 255, 0.25);
    outline: none;
}

/* Button Styles */
button {
    background-color: #007bff;
    color: #ffffff;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.02);
}

/* Result Styles */
#result {
    font-size: 20px;
    font-weight: 600;
    color: #28a745;
    margin-top: 20px;
}
